<div>
    <div>
      <h5 class="text-center">ALERTAS MENSAIS X UNIDADES</h5>
     <h6 class="text-center">QTDE X TIPOS DE ALERTAS X UNIDADE</h6> 
      <div style="display: block; width: 700px;">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
      
    </div>
  </div>
