
<p>
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <span>Relatorio

      </span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
</p>
<form [formGroup]="form" (ngSubmit)="salvar()" >
  <div class="container-fluid">
    <h1>Relatorio de sono</h1>
    <div class="row d-flex">
        <div class="col-6">
          <input class="form-control" formControlName="data" type="date">
        
        </div>
        <div class="col-6">
   
          <select class="form-select" formControlName="req" aria-label="Default select example">
            <option selected>Selecione</option>
            <option value="gps">Gps</option>
            <option value="alarms">Alarms</option>
          
          </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-4" [disabled]="!form.valid">Buscar</button>
  </div>
  
</form>
<div class="row d-flex justify-content-center m-4">
  <div class="col-6">
    <div class="chart-wrapper ">
      <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
    </div>
  </div>
</div>

<router-outlet></router-outlet>