<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" class="mt-2 ml-2">
  <div class="row d-flex justify-content-arount ">
    <div class="col-3" style="position: fixed;">
      <div class="card p-1">
        <div class="card-body">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item "><a class="nav-link " href="/#section1">Portfolio</a></li>
            <li class="nav-item"><a class="nav-link  " href="/#section2">About</a></li>
            <li class="nav-item"><a class="nav-link " href="/#section3">Contact</a></li>
          </ul>
        </div>

        <form [formGroup]="form" (ngSubmit)="salvar()" class="" >

          <input class="form-control" formControlName="data" type="date">

          <select class="form-control" formControlName="req">
            <option selected>Selecione</option>
            <option value="gps">Gps</option>
            <option value="alarms">Alarms</option>

          </select>

          <button mat-button color="primary" type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid">Buscar</button>
        </form>
      </div>
    </div>

  </div>


  <div id="section1" class="container-fluid">
    <div class="row  d-flex justify-content-end m-auto">
      <div class="col-8 mr-4">
        <div class="chart-wrapper" *ngIf="barChartData">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>

  </div>
  <div id="section2" class="container-fluid">
    <div class="row  d-flex justify-content-end m-auto">
      <div class="col-8 mr-4">
        <div class="chart-wrapper" *ngIf="barChartData">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>

  </div>
  <div id="section3" class="container-fluid">
    <div class="row d-flex justify-content-end m-auto">
      <div class="col-8 mr-4">
        <div class="chart-wrapper" *ngIf="barChartData">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div id="section3" class="container-fluid">
    <div class="row d-flex justify-content-end m-auto">
      <div class="col-8 mr-4">
        <app-map></app-map>
      </div>
    </div>
  </div>
  
</body>
</html>

<router-outlet></router-outlet>